---
name: Ska3 conda meta.yaml
on:
  repository_dispatch:
    types: [incremental-conda-meta]

jobs:
  generate-json:
    runs-on: ${{ matrix.os }}
    name: Generate ${{ matrix.os }} json files
    if: ${{ github.event.client_payload.ska3_core_version }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-2019"]
    steps:
      - name: Checkout skare3_tools
        uses: actions/checkout@v4
        with:
          repository: sot/skare3_tools
          ref: master
          path: skare3_tools
      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: "24.7.1-2"
          python-version: "3.12"
          auto-update-conda: true
          channels: https://ska:${{ secrets.CONDA_PASSWORD }}@cxc.cfa.harvard.edu/mta/ASPECT/ska3-conda/${{ github.event.client_payload.channel }},conda-forge
      # - name: set channels
      #   shell: bash -l -e {0}
      #   run: |
      #     conda config --add channels https://ska:${{ secrets.CONDA_PASSWORD }}@cxc.cfa.harvard.edu/mta/ASPECT/ska3-conda/${{ github.event.client_payload.channel }}
      #     conda config --add channels conda-forge
      #     conda config --env --remove channels defaults
      - name: install ska3-core
        shell: bash -l -e {0}
        run: |
          mamba install -y ska3-core==${{ github.event.client_payload.ska3_core_version }}
          conda uninstall --force -y ska3-core
      - name: update packages
        if: ${{ github.event.client_payload.update }}
        shell: bash -l -e {0}
        run: mamba update -y ${{ github.event.client_payload.update }}
      - name: install new packages
        if: ${{ github.event.client_payload.install }}
        shell: bash -l -e {0}
        run: mamba install -y ${{ github.event.client_payload.install }}
      - name: save conda packages
        shell: bash -l -e {0}
        run: |
          echo creating ska3-core-${{ matrix.os }}.json
          conda list --json > ska3-core-${{ matrix.os }}.json
          python ./skare3_tools/skare3_tools/conda.py --directory packages --exclude-channel mta/ASPECT/ska3-conda/flight
      - name: Save packages
        uses: actions/upload-artifact@v4
        with:
          name: conda-pkgs
          path: packages
      - name: Save
        uses: actions/upload-artifact@v4
        with:
          name: json-files
          path: ska3-*.json
    env:
      ARCH: ${{ matrix.os }}
      CONDA_PASSWORD: ${{ secrets.CONDA_PASSWORD }}
